name: Build-Test-Fmt

on:
  [push]

jobs:
  build-test-fmt:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - run: rustup show

    - uses: Swatinem/rust-cache@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: "yarn"

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Install Foundry
      uses: foundry-rs/foundry-toolchain@v1
      with:
        version: nightly-0079a1146b79a4aeda58b0258215bedb1f92700b

    - name: Run tests
      working-directory: packages/contracts
      run: yarn build
    
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      with:
        # this might remove tools that are actually needed,
        # if set to "true" but frees about 6 GB
        tool-cache: false
        
        # all of these default to true, but feel free to set to
        # "false" if necessary for your workflow
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        docker-images: true
        swap-storage: true
    
    - name: Build
      run: cargo build --release
      
    - name: Test
      run: cargo test --release
